<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarPark</title>
</head>
<body>
<h1>Witaj w systemie parkowania</h1>
<form action="decision" method="post">
    login</BR>
    <input type="text" name="login" placeholder="your login">
    </BR>
    Password</BR>
    <input type="text" name="password" placeholder="your password">
    </BR>
    <input type="submit" name="logging">
    </BR>
</form>
<form action="registration" method="get">
    Chcesz utworzyć konto?</BR>
    <input type="submit" name="registration">
</form>
</body>
</html>