<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestraca</title>
</head>
<body>
WITAJ W REJESTRACJI
</BR>
</BR>
<form action="/check" method="post">
    Wpisznr rejestracyjny samochodu:</BR>
    <input type="text" name="registrationNumber" placeholder="registration number">
    </BR>
    JUŻ TAKI LOGIN ISTNIEJE W BAZIE
    </BR>
    Wpisz login:</BR>
    <input type="text" name="login" placeholder="your login">
    </BR>
    Wpisz hasło:</BR>
    <input type="text" name="password" placeholder="your password">
    </BR>
    <input type="submit" value=OK>
</form>
</BR>
<a href="/">Przejdz na strone główną</a>
</body>
</html>