<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
WITAJ W REJESTRACJI
</BR>
</BR>
<form th:object="${client}"  method="post">
    Wpisznr rejestracyjny samochodu:</BR>
    <input type="text" th:field="*{registrationNumber}" placeholder="registration number">
    </BR>
    Wpisz login:</BR>
    <input type="text" th:field="*{login}" placeholder="your login">
    </BR>
    Wpisz hasło:</BR>
    <input type="text" th:field="*{password}" placeholder="your password">
    </BR>
    <input type="submit" value=OK>
</form>
</BR>
<a href="/">Przejdz na strone główną</a>
</body>
</html>